.touchflick {
  &--wrap {
    width: 80%;
    overflow-x: hidden;
  }
  &__inner {
    width: 100%;
    overflow: hidden;
  }
  &__inner--wrap {
    width: 100%;
    display: flex;
  }
  &__item {
    width: 100%;
    flex: 0 0 auto;
    &:nth-child(2n+1){
      background: #ff9900;
    }
  }
} 