.touchflick {
  &--wrap {
    width: 80%;
    overflow-x: hidden;
    position: relative;
    cursor: -webkit-grab;
  }
  &__inner {
    width: 100%;
    overflow: hidden;
  }
  &__inner--wrap {
    width: 100%;
    display: flex;
  }
  &__item {
    width: 100%;
    height: 50vw;
    flex: 0 0 auto;
    background: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(2n+1){
      background: #e1e1e1;
    }
  }
}

.touchflick-thumbs{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 60px;  
  align-items: center;
  justify-content: center;

  &__item {
    transition: all 0.2s ease-out;
    flex: 0 1 auto;
    margin: 0 1em;
    cursor: pointer;
    &.is-active {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.touchflick-buttons {
  &__item{
    cursor: pointer;
    &.is-disabled{
      opacity: 0.2;
      pointer-events: none;
    }
  }
}